<h1>DriveEasy</h1>
<img src="assets/images/sport-car.png" alt="DriveEasy" />

<h5>Severities</h5>
<button pButton pRipple type="button" label="Primary"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-danger"></button>

<h5>Outlined Buttons</h5>
<button pButton pRipple type="button" label="Primary" class="p-button-outlined"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-outlined p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-outlined p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-outlined p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-outlined p-button-warning"></button>
<button pButton pRipple type="button" label="Help" class="p-button-outlined p-button-help"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-outlined p-button-danger"></button>
