<div class="grid sticky bg-gray-200">
  <div class="col-3">
    <img class="w-5rem" src="assets/images/sport-car.png" alt="DriveEasy" />
  </div>

  <div class="col">
    <span class="p-buttonset vertical-align-middle">
      <button pButton pRipple label="Acasa" icon="pi pi-home"></button>
      <button pButton pRipple label="Categorii" icon="pi pi-list"></button>
      <button pButton pRipple label="Legislatie" icon="pi pi-book"></button>
      <button pButton pRipple label="Chestionare" icon="pi pi-check-square"></button>
      <button pButton pRipple label="Galerie" icon="pi pi-images"></button>
      <button pButton pRipple label="De ce noi?" icon="pi pi-question-circle"></button>
    </span>
  </div>
</div>
